<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36684847155-fv4cjr066likbl4cbqkrllpa0nq9mnvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36684847155-fv4cjr066likbl4cbqkrllpa0nq9mnvi</string>
	<key>API_KEY</key>
	<string>AIzaSyDVaUUGPSDM5O-wN-Mk1aATGcyoJZQZAtA</string>
	<key>GCM_SENDER_ID</key>
	<string>36684847155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquariumbleu</string>
	<key>PROJECT_ID</key>
	<string>aquarium-bleu</string>
	<key>STORAGE_BUCKET</key>
	<string>aquarium-bleu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36684847155:ios:9b688eb7b3017e88dbeb46</string>
</dict>
</plist>